# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/

# Ignore environment config
.env

# Ignore IDE/editor settings
.cache/

# Ignore Cache
.vscode/

# Ignore log files
*.log

# Ignore models - the directory will be created by docker
models/
